mixin itemField(ob, label)
  md-autocomplete(
    ng-show="ctrl.mode !== 'wdqs'"
    md-selected-item=ob + "Object"
    md-search-text=ob + "Text"
    md-items="item in ctrl.itemSearch(" + ob + "Text)"
    md-item-text="item.label"
    md-min-length="1"
    md-menu-class="autocomplete-header-template"
    md-floating-label=label
  )
    md-item-template
      span.item-label {{item.label}}
      span.item-description {{item.description}}
    md-not-found
      | No results

mixin propertyField(ob, label)
  md-autocomplete(
    ng-show="ctrl.mode !== 'wdqs'"
    md-selected-item=ob + "Object"
    md-search-text=ob + "Text"
    md-items="item in ctrl.propertySearch(" + ob + "Text)"
    md-item-text="item.label"
    md-min-length="1"
    md-menu-class="autocomplete-header-template"
    md-floating-label=label
  )
    md-item-template
      span.item-label {{item.label}}
      span.item-description {{item.description}}
    md-not-found
      | No results
    
doctype html
html(ng-strict-di)
  head
    link(rel="stylesheet" href="assets/css/angular-material.min.css")
    link(rel="stylesheet" href="assets/css/main.css")
      
    script(src="assets/js/angular.min.js")
    script(src="assets/js/angular-animate.min.js")
    script(src="assets/js/angular-aria.min.js")
    script(src="assets/js/angular-messages.min.js")
    script(src="assets/js/angular-material.min.js")
    script(src="assets/js/d3.min.js")
    //- script(src="assets/js/all.min.js")
    script(src="assets/js/Graph.js")
    script(src="assets/js/SparqlGen.js")
    script(src="assets/js/wgbapp.js")
    script(src="assets/js/WikiTools.js")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Wikidata Graph Builder
  body(ng-app="WgbApp" ng-cloak layout="row" flex ng-controller="FormCtrl as ctrl")
    md-sidenav(
      ng-style="{'min-width': wdqs_edit ? '100%' : '300px', 'max-width': wdqs_edit ? '100%' : '300px'}"
      class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="true"
    )
      md-toolbar(class="md-theme-indigo")
        h1(class="md-toolbar-tools") 
          a(href="?" ng-click="ctrl.reset()") WGB
      md-content(layout-padding flex)
        div(layout="row")
          md-input-container(flex)
            label Mode
            md-select(ng-model="ctrl.mode")
              md-option(ng-value="key" ng-repeat="(key, value) in ctrl.modes") {{ value }}
            
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label Language
            input(ng-model="ctrl.lang" type="text" placeholder="??" size="4")
    
        textarea(ng-model="ctrl.wdqs" ng-show="ctrl.mode === 'wdqs'" ng-focus="wdqs_edit = true" ng-blur="wdqs_edit = false") query
        
        +itemField("ctrl.item", "Root Item")
        +propertyField("ctrl.property", "Traversal Property")
        
        div(layout="row")
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label(for="iterations") Iterations
            input(ng-model="ctrl.iterations" type="number" value="0" min="0")
          
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label Limit
            input(ng-model="ctrl.limit" type="number" value="0" min="0" size="2")
              
        +propertyField("ctrl.size_property", "Size Property")

        //- md-checkbox(ng-model="ctrl.size_recursive") Recursive Size
        //- md-checkbox(ng-model="ctrl.size_log_scale") Log10 Size
        
        div(layout="row" style="margin: 9px 4px 9px 0")
          div(flex)
            md-button.md-primary.md-raised(
              style="margin-right: 4px"
              layout-fill
              ng-click="ctrl.submit()"
              ng-disabled="!ctrl.validate()"
            ) Build
            
          div(flex)
            md-menu
              md-button.md-raised(
                style="margin-left: 5px"
                layout-fill
                ng-disabled="!ctrl.validate()"
                ng-click="$mdOpenMenu($event)"
              ) Tools
              md-menu-content(width="4")
                md-menu-item
                  md-button(ng-click="ctrl.query()" ng-disabled="!ctrl.validate()") Wikidata Query Service
                md-menu-item
                  md-button(ng-click="ctrl.list()" ng-disabled="!(ctrl.validate() && (ctrl.mode == 'forward' || ctrl.mode == 'reverse'))") Wikidata generic tree

    div(layout="column" layout-fill)
      md-progress-linear(md-mode="query" ng-show="ctrl.isLoading")
        | 
      md-content(ng-hide="ctrl.showSvg && ctrl.wdqs" md-scroll-y layout-padding)
        div.main-content
          h1.md-display-2 Wikibase Graph Builder

          noscript
            | Wikibase Graph Builder requires JavaScript to be enabled

          p 
            | Build graphs using the #[a(href="https://base.transformap.co") TransforMap Wikibase] #[a(href="https://query.base.transformap.co/") Query Service] and
            |  
            | #[a(href="https://d3js.org/") d3.js]. 
          p Example graphs:
          
          -
            links = [
              ['SSEDAS Taxonomy', '?property=P8&item=Q8&mode=reverse'],
              ['TransforMap Taxonomy', '?property=P8&item=Q4&mode=reverse'],
              ['Typen von Stadtgärten', '?property=P8&item=Q191&lang=de&mode=reverse'],
              ['SolidBase bugeting vocabulary', '?mode=wdqs&wdqs=prefix%20bd:%20%3Chttp:%2F%2Fwww.bigdata.com%2Frdf%23%3E%0Aprefix%20wikibase:%20%3Chttp:%2F%2Fwikiba.se%2Fontology%23%3E%0Aprefix%20beta:%20%3Chttp:%2F%2Fwikiba.se%2Fontology-beta%23%3E%0Aprefix%20wdt:%20%3Chttps:%2F%2Fbase.transformap.co%2Fprop%2Fdirect%2F%3E%0Aprefix%20ps:%20%3Chttps:%2F%2Fbase.transformap.co%2Fprop%2Fstatement%2F%3E%0Aprefix%20wd:%20%3Chttps:%2F%2Fbase.transformap.co%2Fentity%2F%3E%0A%0ASELECT%20%3Fitem%20%3FitemLabel%20%3FpropUrl%20%3FpropertyLabel%20%3FlinkTo%20WHERE%20%7B%0A%0A%20%20%7B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q237%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q238%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q239%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q240%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q241%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q243%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q244%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q245%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q247%20as%20%3FlinkTo)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20UNION%0A%20%20%7B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q237%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%20.%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q238%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q239%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q240%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q241%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q243%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q244%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q245%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q247%20as%20%3Fitem)%0A%20%20%20%20%20%20%3Fitem%20%3FpropUrl%20%3FlinkTo%20.%0A%20%20%20%20%20%20%3Fproperty%20beta:directClaim%20%3FpropUrl%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20UNION%0A%20%20%7B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q237%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q238%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q239%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q240%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q241%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q243%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q244%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q245%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%20%20UNION%0A%20%20%20%20%7B%0A%20%20%20%20%20%20BIND%20(wd:Q247%20as%20%3Fs)%0A%20%20%20%20%20%20%3Fs%20%3Fp%20%3Fitem%20.%0A%20%20%20%20%20%20%3Fpl%20beta:directClaim%20%3Fp%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20SERVICE%20wikibase:label%20%7Bbd:serviceParam%20wikibase:language%20%22en%22%20%7D%0A%7D%0AORDER%20BY%20%3FitemLabel']
            ]
          
          ul
            each link in links
              li #[a(href=link[1])=link[0]]
              
          p.footer The source code released under #[a(href="http://opensource.org/licenses/MIT") MIT license] at #[a(href="https://github.com/allmende/wikibase-tree-builder") GitHub].

      graph(graph-data="ctrl.graphData" active-item="ctrl.activeItem" mode="ctrl.mode" size-log-scale="ctrl.size_log_scale")
